.btn{
    border: none;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    
}
.btn:hover{
    transition: all 0.3s ease;
    background:#fff;
    color: #000;
}

.abt-btn {
    cursor: pointer;
    margin-top: 50px;
    background-color: #592804;
    font-size: 16px;
    color: white;
    border: none;
    border: 1px solid #592804;
    padding: 8px 12px;
    transition: all 0.5s ease;
}

.abt-btn:hover {
    background-color: #fff;
    color: #592804;
    transition: all 0.5s ease;
    border-radius: 5px;
}