:root{
    --theme-primary-color : #0a324c;
    --font-cinzel-stylist: 'Cinzel', serif;
    --font-cinzel-decorative: 'Cinzel Decorative', cursive;
    --font-cormorant-garamond-decent-stylist: 'Cormorant Garamond', serif;
    --font-montserrat-decent: 'Montserrat', sans-serif;
    --font-quicksand-decent: 'Quicksand', sans-serif;
}